.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 2em;
  font-weight: 700;
  line-height: 1;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.storybook-button--primary {
  background-color: hsl(238, 37%, 50%);
  color: white;
}
